/* @import "carbonfox-vivid-oled.css"; */
/* @define-color muted @highlightMed; */

@define-color background @base;

@define-color arch #1793d3;

* {
  min-height: 0;
  transition: all 0.3s;
}

window#waybar {
  background-color: transparent;
}

window#waybar {
  border: none;
  border-radius: 0rem;
  margin: 0px;
  padding: 0rem;

  min-height: 1px;
  color: @foreground;
  background-color: @background;
  border-radius: 0rem;
  font-family: monospace;
  font-weight: 300;
}

window#waybar.4K {
  font-size: 13.5pt;
}

window#waybar.FHD {
  font-size: 12.0pt;
}

.modules-left,
.modules-center,
.modules-right {
  border-radius: 0rem;
  margin: 0px 16px 1px;
}

.modules-center {
  min-width: 64px;
}

#custom-os {
  color: @os;
  padding: 0rem 0.5rem;
  border-bottom: solid 2px @os;
  font-weight: bold;
}

#workspaces {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#workspaces button {
  background-color: @muted;
  border-radius: 2rem;
  padding: 0rem 0.55rem;
  margin: 0rem 0.35rem;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.persistent {
  background-color: @subtle;
}

#workspaces button.empty {
  background-color: @muted;
}

#workspaces button.visible {
  background-color: @subtle;
  padding: 0rem 1.00rem;
}

#workspaces button.active {
  background-color: @cyan;
  padding: 0rem 1.00rem;
  animation: ws_active 20s ease-in-out 1;
}

window#waybar.FHD #workspaces button, button {
  padding: 0rem 0.45rem;
}

window#waybar.FHD #workspaces button.visible {
  padding: 0rem 1.0rem;
}

window#waybar.FHD #workspaces button.active {
  padding: 0rem 1.0rem;
}

#custom-media {
  min-height: 0px;
  padding: 0rem 1rem;
  margin: 0px;
  font-weight: 400;
}

#custom-media.default {
  padding: 0rem 1rem;
  margin: 0px;
}

#custom-media.Playing {
  color: @white;
  padding: 0rem 1rem;
  box-shadow: inset 0px -4px @white;
}

#custom-media.Paused {
  color: @comment;
  padding: 0rem 1rem;
  box-shadow: inset 0px -4px @comment;
}

#custom-media.Stopped {
  padding: 0px 20px;
}

window#waybar.4K #custom-idle {
  color: @background;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0rem 1rem;
} 

window#waybar.4K #custom-idle.Idle {
  background-color: @muted;
}

window#waybar.4K #custom-idle.Info {
  background-color: @red;
  padding: 0rem 1.5rem;
}

window#waybar.4K #custom-mic {
  color: @background;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0px;
} 

window#waybar.4K #custom-mic.Idle {
  background-color: @muted;
  padding: 0rem 1.2rem;
}

window#waybar.4K #custom-mic.Info {
  background-color: @red;
  padding: 0rem 1.8rem;
}

window#waybar.4K #custom-ff-volume {
  color: @background;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  margin: 0rem 0.1rem;
  padding: 0px;
} 

window#waybar.4K #custom-ff-volume.Idle {
  background-color: @muted;
  padding: 0rem 1.2rem;
}

window#waybar.4K #custom-ff-volume.Info {
  background-color: @red;
  padding: 0rem 2.0rem;
}

window#waybar.FHD #custom-idle {
  color: @background;
  font-family: "Symbols Nerd Font";
  margin: 0rem 0.1rem;
  padding: 0rem 6px;
  border-bottom: solid 4px @muted;
} 

window#waybar.FHD #custom-idle.Idle {
  color: @muted;
}

window#waybar.FHD #custom-idle.Info {
  color: @red;
  border-bottom-color: @red;
}

window#waybar.FHD #custom-mic {
  color: @background;
  font-family: "Symbols Nerd Font";
  margin: 0rem 0.1rem;
  padding: 0px 6px;
  border-bottom: solid 4px @muted;
} 

window#waybar.FHD #custom-mic.Idle {
  color: @muted;
}

window#waybar.FHD #custom-mic.Info {
  color: @red;
  border-bottom-color: @red;
}

window#waybar.FHD #custom-ff-volume {
  color: @background;
  font-family: "Symbols Nerd Font";
  margin: 0rem 0.1rem;
  padding: 0px 6px;
  border-bottom: solid 4px @muted;
} 

window#waybar.FHD #custom-ff-volume.Idle {
  color: @muted;
}

window#waybar.FHD #custom-ff-volume.Info {
  color: @red;
  border-bottom-color: @red;
}

#cpu {
  color: @cyan;
  border-radius: 0rem;
  border-bottom: solid 4px @cyan;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#memory {
  color: @green;
  border-radius: 0rem;
  border-bottom: solid 4px @green;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-gpu {
  color: @yellow;
  border-radius: 0rem;
  border-bottom: solid 4px @yellow;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-temperature {
  color: @blue;
  border-radius: 0rem;
  border-bottom: solid 4px @blue;
  margin: 0rem 0.1rem;
  background-color: @background;
  padding: 0rem 1.4rem;
}

#custom-temperature.Warning {
  color: @red;
  border-bottom: solid 4px @red;
  font-weight: bold;
}

#custom-temperature.Critical {
  color: @background;
  background-color: @red;
  border-bottom: solid 4px @red;
  font-weight: bold;
}

#custom-update.info {
  color: @red;
  border-bottom: solid 6px @red;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}

#custom-clock, #clock {
  background-color: @background;
  color: @foreground;
  border-radius: 0rem;
  border-bottom: solid 4px @subtle;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}

#systemd-failed-units {
  color: @background;
  font-family: "Symbols Nerd Font";
  border-radius: 1rem;
  padding: 0rem 1.4rem;
}

#systemd-failed-units.ok {
  background-color: @green;
}

#systemd-failed-units.degraded {
  background-color: @red;
  font-weight: bold;
}

#tray {
  background-color: @background;
  color: #ffffff;
  border-radius: 0rem;
  border-bottom: solid 1px @foreground;
  margin: 0rem 0.1rem;
  padding: 0rem 1.4rem;
}
