[Unit]
Description=Fcitx5 in Arch Linux Container with Hazkey
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecCondition=/bin/sh -c '[ "$XDG_CURRENT_DESKTOP" = Hyprland ]'
ExecStart=/run/current-system/sw/bin/flatpak run org.fcitx.Fcitx5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
