[Unit]
Description=Idle/Sleep Control for Hyprland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland:niri" ""
ExecStart=%h/.nix-profile/bin/hypridle
Restart=on-failure

[Install]
WantedBy=graphical-session.target
