[Unit]
Description=Logseq
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/bin/launch-logseq
Restart=no
TimeoutStopSec=10
KillSignal=SIGTERM

[Install]
WantedBy=graphical-session.target

