[Unit]
Description=Ollama Service
Wants=network-online.target
After=network.target network-online.target

[Service]
Environment="OLLAMA_VULKAN=1"
Environment="OLLAMA_KEEP_ALIVE=-1"
Environment="OLLAMA_MAX_LOADED_MODELS=2"
Environment="OLLAMA_MAX_QUEUE=1"
Environment="OLLAMA_NUM_PARALLEL=1"
Environment="OLLAMA_CONTEXT_LENGTH=32768"
Environment="GGML_VK_CMD_THREADS=8"
Environment="GGML_VK_MEMORY_POOL_SIZE=8192"
ExecStart=%h/.nix-profile/bin/ollama serve
Restart=on-failure
RestartSec=3
RestartPreventExitStatus=1
Type=simple

[Install]
WantedBy=graphical-session.target

