[Unit]
Description=Taskwarrior Due Task Notifier

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash %h/bin/tw-notify
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

[Install]
WantedBy=graphical-session.target
