[Unit]
Description=Taskwarrior Daily Task Notifier

[Service]
Type=oneshot
ExecStart=%h/bin/tw-notify-daily
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus

[Install]
WantedBy=graphical-session.target
