[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors
Documentation=man:waybar(5)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "niri" ""
ExecStart=%h/.nix-profile/bin/waybar --style %h/.config/waybar/style-niri.css
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target
